
.package {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'MuseoModerno', cursive;
  margin-top: 1em;
  color: green;
}

h2 {
  font-family: 'MuseoModerno', cursive;
  margin-bottom: 1em;
}

body {
  background: antiquewhite;
}

.gameboard {
  width: 30em;
  height: 24em;
  border: solid;
  border-radius: 1em;
}

.timer-label {
  font-family: 'Faustina', serif;
  font-size: 1.5em;
  color: red;
  margin-left: 1.5em;
}

.timer {
  font-family: 'Faustina', serif;
  font-size: 1.5em;
  color: red;
  margin-left: .3em;
}

.problem {
  font-size: 3em;
  color: black;
}


.start-game {
  border: solid green;
  border-radius: 1em;
  margin-bottom: 1em;
  display: none;
}


.score-label {
  font-family: 'Faustina', serif;
  font-size: 1.5em;
}

.score {
  font-family: 'Faustina', serif;
  font-size: 1.5em;
  margin-left: .3em;
}

.btn-contain {
  height: 5em;
}

